@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Hero */
.hero-wrapper{
  width: 100%;
  height: 800px;
  background-image: url(./assets/hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #212529;
}

.red-text{
  color: #E7332B;
}

.landing-page{
  font-family: 'Averia Serif Libre', cursive;
}


.hero-center-image{
  width: inherit;
  padding-top: 69px;
  margin-bottom: 69px;
}

.logo-img{
  margin: 0 auto;
}

.hero-text-content{
  max-width: 700px;
  color: #514949;
}

.hero-heading{
  font-size: 2rem;
  line-height: 48px;
}

.btn-wrapper{
  margin-top: 92px;
  display: flex;
  justify-content: center;
}


.btn{
  border: 1px solid #E7332B;
  padding: 11px 28px;
  color: #E7332B;
  background: #ffffff;
}.btn:hover{
  background: #E7332B;
  color: #ffffff;
}


.btn-red{
  background: #E7332B;
  color: #ffffff;
}.btn-red:hover{
  background: #ffffff;
  color: #E7332B;
}



/* Programs */
.programs-text-content{
  max-width: 1268px;
  color: #514949;
}

.program-card-wrap{
  max-width: 413.33px;
}

.program-card{
  background: #FFFAFA;
  padding: 61px 47px 82px 36px;
  color: #212529;
}


/* Footer */
.footer{
  max-width: 1240px;
  margin: 215px auto 0;
  color: #514949;
}

.hr-line{
  border: 0.7px solid #514949;
  opacity: 0.2;
}





/* Training */
.training-page{
  background: #FFFDF5;
  color: #585757;
  font-family: 'Roboto', sans-serif;
}

.header-container{
  max-width: 1440px;
  margin: 0 auto;
}

.bg{
  background: #E7332B;
  color: #ffffff;
  border-radius: 100px 100px 100px 100px;
}

.thumbs{
  width: 75px;
  height: 75px;
  background: #E7332B;
  padding: 10px;
  border-radius: 100px;
  margin-left: -50px;
}



/* First-sec */
.first-sec{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 200px;
}

.first-sec-wrapper{
  display: flex;
  align-items: center;
}

.first-bold-text{
  font-size: 3.375rem;
}

.wire{
  margin: 0 40px 28px -20px;
}

.first-small-text{
  color: #1B1A20;
}


/* Second-sec */
.second-sec{
  max-width: 1440px;
  margin: 0 auto;
}

.green-text{
  color: #43B97F;
}


/* Third-sec */
.third-sec{
  max-width: 1440px;
  margin: 0 auto;
}

.section3wire{
  max-width: 7.875rem;
  height: auto;
}

.third-sec-bold-text{
  font-size: 2.5rem;
}

.star{
  max-width: 190px;
  height: auto;
}







@media only screen and (max-width: 1200px){
  .first-sec-wrapper{
    flex-direction: column;
  }

  .first-sec-item1{
    width: 75%;
  }

  .first-sec-item2{
    width: 100%;
  }

  .first-sec-item3{
    display: none;
  }

  .first-bold-text{
    font-size: 3rem;
  }



  .third-sec-bold-text{
    font-size: 1.875rem;
  }
}



@media only screen and (max-width: 1024px){
  .program-card-wrap{
    max-width: 100%;
  }
}



@media only screen and (max-width: 900px){
  .second-sec-wrapper{
    flex-direction: column;
  }

  .second-sec-items{
    width: 100%;
  }

  .second-sec-p-bold-text{
    padding-top: 1.875rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .second-sec-p-light-text{
    font-size: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;
  }


  .third-sec-wrapper{
    flex-direction: column;
  }

  .third-sec-col{
    max-width: 100%;
  }

  .third-sec-sm-text{
    font-size: 1.25rem;
  }
}


@media only screen and (max-width: 768px){
  .hero-wrapper{
    height: auto;
  }

  .logo-img{
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .hero-heading{
    font-size: 1.75rem;
  }

  .btn-wrapper{
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }

  .btn-red{
    margin-right: 0;
    margin-bottom: 25px;
  }

  /* Training */
  .thumbs{
    width: 60px;
    height: 60px;
    margin-left: -40px;
  }


  /* First-sec */
  .first-bold-text{
    font-size: 2.375rem;
  }


  .third-sec-bold-text{
    font-size: 1.5rem;
  }

  .section3wire{
    max-width: 5rem;
  }
}


@media only screen and (max-width: 600px){
  /* First-sec */
  .first-bold-text{
    font-size: 1.75rem;
  }

  /* Second-sec */
  .second-sec-p-light-text{
    text-align: center;
  }
}