@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Hero */
.hero-wrapper{
  width: 100%;
  height: 800px;
  background-image: url(./assets/hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #212529;
}

.red-text{
  color: #E7332B;
}

.landing-page{
  font-family: 'Averia Serif Libre', cursive;
}


.hero-center-image{
  width: inherit;
  padding-top: 69px;
  margin-bottom: 69px;
}

.logo-img{
  margin: 0 auto;
}

.hero-text-content{
  max-width: 700px;
  color: #514949;
}

.hero-heading{
  font-size: 2rem;
  line-height: 48px;
}

.btn-wrapper{
  margin-top: 92px;
  display: flex;
  justify-content: center;
}


.btn{
  border: 1px solid #E7332B;
  padding: 11px 28px;
  color: #E7332B;
  background: #ffffff;
}.btn:hover{
  background: #E7332B;
  color: #ffffff;
}


.btn-red{
  background: #E7332B;
  color: #ffffff;
}.btn-red:hover{
  background: #ffffff;
  color: #E7332B;
}



/* Programs */
.programs-text-content{
  max-width: 1268px;
  color: #514949;
}

.program-card-wrap{
  max-width: 413.33px;
}

.program-card{
  background: #FFFAFA;
  padding: 61px 47px 82px 36px;
  color: #212529;
}


/* Footer */
.footer{
  max-width: 1240px;
  margin: 215px auto 0;
  color: #514949;
}

.hr-line{
  border: 0.7px solid #514949;
  opacity: 0.2;
}






/* Training-page */
.training-page{
  background: #FFFDF5;
  color: #585757;
  font-family: 'Roboto', sans-serif;
}

.header{
  background: #FFFDF5;
}

.container{
  max-width: 1440px;
  margin: auto;
}

.header-container{
  max-width: 1440px;
  margin: 0 auto;
}

.bg{
  background: #E7332B;
  color: #ffffff;
  border-radius: 100px 100px 100px 100px;
}

.thumbs{
  width: 75px;
  height: 75px;
  background: #E7332B;
  padding: 10px;
  border-radius: 100px;
  margin-left: -50px;
}



/* First-sec */
.first-sec{
  background: #fff;
}

.first-sec-wrapper{
  display: flex;
  align-items: center;
  padding-top: 200px;
}

.first-bold-text{
  font-size: 3.375rem;
}

.wire{
  margin: 0 40px 28px -20px;
}

.first-small-text{
  color: #1B1A20;
}



/* Second-sec */
.second-sec{
  background: #fff;
}

.green-text{
  color: #43B97F;
}




/* Third-sec */
.section3wire{
  max-width: 7.875rem;
  height: auto;
}

.third-sec-bold-text{
  font-size: 2.5rem;
}

.star{
  max-width: 190px;
  height: auto;
}



/* fourth-sec */
.fourth-sec{
  background: linear-gradient(180deg,rgba(255,244,240,0),#fff4f0 17.19%,#fff4f0 84.37%,rgba(255,244,240,0))!important;
}

.fs-box-wrap{
  min-width: 360px;
}

.fs-box1{
  background: #E7332B;
  color: #ffffff;
}.fs-box1:hover{
  transform: translateY(-15px);
}

.fs-box2{
  background: #ffffff;
}.fs-box2:hover{
  transform: translateY(-15px);
}

.fs-box1, .fs-box2{
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  padding: 58px 48px 92px 50px;
  border-radius: 1.25rem;
  transition: all .3s ease;
}

.fs-box-img{
  margin-top: -58px;
  width: 32%;
}

.fs-box-text{
  color: #1B1A20;
}




/* Fifth-sec */
.fifth-sec{
  background: #E7332B;
}

.fifth-sec-btn{
  width: 9.375rem;
  margin: 30px 0 40px;
  background: #fff;
  border-radius: 100px;
  color: #E7332B;
}

.fifth-sec-btn-img{
  width: 51px;
  height: 42px;
}



/* Sixth-sec */
.sixth-sec{
  background: linear-gradient(180deg,rgba(255,244,240,0),#fff4f0 17.19%,#fff4f0 84.37%,rgba(255,244,240,0))!important;
}

.sixth-sec-bold-text{
  max-width: 700px;
  line-height: 1.125;
  height: auto;
  color: #1B1A20;
}

.s-box-wrapper{
  min-width: 378.66px;
}

.s-box{
  box-shadow: 0 11px 22px rgba(231,51,43,.1);
  border-radius: 41px;
}

.s-color-text{
  color: #1B1A20;
}


/* seventh-sec */
.seventh-sec-small-text{
  margin-top: -50px;
}

.seventh-sec-bold-text{
  font-size: 2.5rem;
  color: #1B1A20;
}

.faq-box1{
  max-width: 1224px;
  margin: 0 108px;
}

.faq-row{
  border: 1px solid rgba(71,44,111,.43)!important;
}

.faq-row-title{
  color: #333333;
}


/* eight-sec */
.star-box{
  margin-top: -65px;
}

.eight-sec-small-text{
  margin-top: -50px;
}

.eight-sec-bold-text{
  font-size: 2.5rem;
  color: #1B1A20;
}

.eight-sec-thin-text{
  color: #333333;
}

.eight-sec-box-wrapper{
  min-width: 425px;
}

.eight-sec-box{
  background: #1B1A20;
  border-radius: 65px;
  box-shadow: 0 31px 60px rgba(231,51,43,.2);
}

/* .hour{
  margin: -138px -19px 0 0;
} */



/* nineth-sec */
.circle{
  margin: -72px -57px 0 0;
}

.circle1, .mains, .curve{
  width: 10%;
}

.round{
  width: 15%;
}

.nineth-sec-wrapper{
  margin-top: 70px;
}

.box9-wrapper{
  background: rgb(231, 51, 43);
  border-radius: 24px;
}

.box9-bold-text{
  font-size: 3.5rem;
  width: 42.5rem;
}

.box9-btn{
  background: #fff;
  color: #E7332B;
  border-radius: 71px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}


/* tenth-sec */
.footer-text{
  color: #1B1A20;
}





@media only screen and (max-width: 1200px){
  .first-sec-wrapper{
    flex-direction: column;
  }

  .first-sec-item1{
    width: 75%;
  }

  .first-sec-item2{
    width: 100%;
  }

  .first-sec-item3{
    display: none;
  }

  .first-bold-text{
    font-size: 3rem;
  }



  .third-sec-bold-text{
    font-size: 1.875rem;
  }


  .fs-box-wrap{
    width: 50%;
  }

  
  .s-box-wrapper{
    width: 50%;
  }
}



@media only screen and (max-width: 1024px){
  .program-card-wrap{
    max-width: 100%;
  }

  .box9-bold-text{
    font-size: 2.875rem;
    width: 35rem;
  }
}


@media only screen and (max-width: 913px){
  .eight-sec-box-wrapper{
    width: 100%;
  }

  .eight-sec-box-wrapper{
    padding-left: 0;
  }
}



@media only screen and (max-width: 900px){
  .second-sec-wrapper{
    flex-direction: column;
  }

  .second-sec-items{
    width: 100%;
  }

  .second-sec-p-bold-text{
    padding-top: 1.875rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .second-sec-p-light-text{
    font-size: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;
  }


  .third-sec-wrapper{
    flex-direction: column;
  }

  .third-sec-col{
    max-width: 100%;
  }

  .third-sec-sm-text{
    font-size: 1.25rem;
  }
}


@media only screen and (max-width: 821px){
  .fs-box-wrap{
    width: 100%;
  }

  .s-box-wrapper{
    width: 100%;
  }
}


@media only screen and (max-width: 768px){
  .hero-wrapper{
    height: auto;
  }

  .logo-img{
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .hero-heading{
    font-size: 1.75rem;
  }

  .btn-wrapper{
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }

  .btn-red{
    margin-right: 0;
    margin-bottom: 25px;
  }

  /* Training */
  .thumbs{
    width: 60px;
    height: 60px;
    margin-left: -40px;
  }


  /* First-sec */
  .first-bold-text{
    font-size: 2.375rem;
  }


  .third-sec-bold-text{
    font-size: 1.5rem;
  }

  .section3wire{
    max-width: 5rem;
  }

  .seventh-sec-bold-text{
    font-size: 1.5rem;
  }

  .eight-sec-bold-text{
    font-size: 1.5rem;
  }


  .box9-bold-text{
    font-size: 2.25rem;
    width: 27.5rem;
  }
}


@media only screen and (max-width: 600px){
  /* First-sec */
  .first-bold-text{
    font-size: 1.75rem;
  }

  /* Second-sec */
  .second-sec-p-light-text{
    text-align: center;
  }


  .box9-bold-text{
    font-size: 1.625rem;
    width: 18.75rem;
  }
}